{% extends "/index.html" %}

<head>

	{% block head %} 

			<meta charset="utf-8">
	        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	{% endblock %}

</head>

<body>
	{% block body %}
		<div id="bigcontainer_greetings">
		<P class="lead">Your Mood in the next hours:</P>

		<p id="your_emoticons">
			{{ your_emoticons }}
			<!-- {% for emoticon in emoticons %}
				<p>{{ emoticon.decode('utf-8') }}</p></br>
			{% endfor %} -->
		</p></br></br>
		<a href="/">Play Again</a></br></br></br></br></br></br></br></br></br></br>
		</div>
	{% endblock %}
</body>


{% block scripts %} 

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


{% endblock %}

